
ol{
  padding-left: 0;
}

li{
  margin: 0 20px;
  list-style-type:decimal;
}
.suot-text-content{
  max-width: 320px;
  overflow-x: hidden;
  text-align: justify;
  margin: 0 20px;
  color: black;
}