body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    font-family: 'Heebo';
    font-style: bold;
    font-weight: bold;
    line-height: 29px;
    text-decoration: underline;
}
ul {
    display:flex;
    flex-direction: row;
}
ul li {
    display: inline-block;
    margin: 10px 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    height: 50px;
}
.content{
    padding: 15px;
    background-color: rgb(164, 224, 224);
}
.about{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.projects{   
    padding: 15px;
    background-color: rgb(168, 223, 182);
    border-radius: 10px;
}
a{
    transition: color 0.3s ease 0s;
}
@media (min-width: 992px) {
    a:hover{
    color: #ff6464;       
    }
}