body{
    background-color: beige;
}
header{
    width: 80%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    height: 50px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-family: 'Heebo';
    font-style: bold;
    font-weight: bold;
    line-height: 29px;
    text-decoration: underline;
}
ul {
    display:flex;
    flex-direction: row;
}
ul li {
    display: inline-block;
    margin: 10px 20px;
}
.about{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(215, 240, 240);
    width: 80%;
}
.projects{   
    margin: 10px;
    padding: 15px;
    background-color: rgb(208, 228, 213);
    border-radius: 10px;
    width: 80%;
}
.interesting{
    padding: 15px; 
    background-color: rgb(189, 231, 191);
    border-radius: 10px;
    width: 80%;    
}

a{
    transition: color 0.3s ease 0s;
}
a:hover{
    color: #ff6464;       
}
.prev-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.article{
    display: flex;
    flex-direction: row;
}
.article__prev-img{
    width: 20%;
    margin-right: 15px;
}
.article__desc{
    width: 80%;
}
.miniText{
    font-size: 8px;
}